<div class="p-5 bg-info text-white">
    <h1>Courses</h1>
    <p>Lorem ipsum...</p>
</div>

<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Duration</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let course of courses">
                    <td>{{ course.id }}</td>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.course_duration }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>