<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='/'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/students'>Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/courses'>Courses</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="p-4 bg-dark text-white text-center">
  <p>Footer</p>
</div>