<div class="p-5 bg-info text-white">
    <h1>Welcome</h1>
    <p>Lorem ipsum...</p>
</div>

<div class="main_wrapp">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://www.thoughtco.com/thmb/ZX7i-LUzIsBb4LRkmOEckjut-E8=/3865x2576/filters:fill(auto,1)/teenage-students-in-classroom--141090063-5af498bc6bf0690036889c1b.jpg" alt="Card image">
                    <div class="card-img-overlay">
                      <h4 class="card-title">Students</h4>
                      <p class="card-text">Some example text.</p>
                      <a routerLink='/students' class="btn btn-primary">View More</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2017/06/free-online-programming-courses.jpg" alt="Card image">
                    <div class="card-img-overlay">
                      <h4 class="card-title">Courses</h4>
                      <p class="card-text">Some example text.</p>
                      <a routerLink='/courses' class="btn btn-primary">View More</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                  <img class="card-img-top" src="https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2017/06/free-online-programming-courses.jpg" alt="Card image">
                  <div class="card-img-overlay">
                    <h4 class="card-title">Vimeo</h4>
                    <p class="card-text">Some example text.</p>
                    <a routerLink='/vimeo' class="btn btn-primary">View More</a>
                  </div>
                </div>
          </div>
        </div>
    </div>
</div>