.main_wrapp
{
    width: 100%;
    height:auto;
    background:#f5f5f5;
    padding:60px 0
}

.main_wrapp .card-img-overlay
{
    background: rgba(0,0,0,0.5);
    color: #fff;
}


.main_wrapp .card
{
    min-height: 250px;
}

.main_wrapp .card img
{
    min-height: 250px;
    object-fit: cover !important;
}