<div class="p-5 bg-info text-white">
    <h1>Vimeo</h1>
    <p>Lorem ipsum...</p>
</div>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div id="playerContainer"></div>
            </div>
        </div>
    </div>
</section>