.wrapper
{
    width:100%;
    height:auto;
    padding:50px 0;
}
.form-group .ng-invalid{
    border:1px solid rgb(255, 64, 64);
}
.form-control.ng-untouched.ng-invalid{
    border:1px solid #d3d3d3;
}