<div class="p-5 bg-info text-white">
    <h1>Edit Students</h1>
    <p>Lorem ipsum...</p>
</div>

<div class="wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6" *ngIf="student">         
                <form [formGroup]="updateform" #updateForm="ngForm" (ngSubmit)="getValues(updateForm.value)">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input formControlName="name" [(ngModel)]="student.name" type="text" ngModel name="name" required class="form-control mt-1" placeholder="Enter Name">
                    </div>
                    <div class="form-group mt-2">
                        <label for="dob">Dob</label>
                        <input formControlName="dob" type="date" [(ngModel)]="student.dob"  ngModel name="dob" class="form-control mt-1" placeholder="Enter Dob">
                    </div>
                    <div class="form-group mt-2">
                        <label for="contact_number">Contact Number</label>
                        <input formControlName="contact_number" [(ngModel)]="student.contact_number"  type="text" ngModel name="contact_number" class="form-control mt-1" placeholder="Enter Number">
                    </div>
                    <div class="form-group mt-2">
                        <label for="name">Gender</label>
                        <select formControlName="gender" [(ngModel)]="student.gender" ngModel name="gender" class="form-control">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <label for="address">Address</label>
                        <textarea formControlName="address" [(ngModel)]="student.address" ngModel name="address" class="form-control" cols="30" rows="5"></textarea>
                    </div>
                    <div class="form-group mt-2">
                        <label for="class">Class</label>
                        <select formControlName="class"  [(ngModel)]="student.class" ngModel name="class" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <label for="courses">Courses</label>
                        <select formControlName="course_id"  [(ngModel)]="student.course_id" ngModel name="class" class="form-control mt-2">
                            <option *ngFor="let course of courses" value="{{ course.id }}">{{ course.course_name }}</option>
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>