<div class="p-5 bg-info text-white">
    <h1>Students</h1>
    <p>Lorem ipsum...</p>
</div>
<div class="container">
    <div class="card m-5 p-3">
        <div class="card-header">
            <div class="pull-right">
                <a routerLink="/students-add" class="btn btn-success btn-xs">Add</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date Of Birth</th>
                    <th>Phone number</th>
                    <th>Gender</th>
                    <th>Class</th>
                    <th>Course</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let student of students">
                    <td>{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.dob }}</td>
                    <td>{{ student.contact_number }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.class }}</td>
                    <td>{{ student.course_name }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-xs btn-primary" (click)="myClickFunction(student.id)">View</a>
                            <a class="btn btn-xs btn-warning" [routerLink]="['/student', student.id]">Edit</a>
                            <a (click)="deleteFunction(student.id)" class="btn btn-xs btn-danger">Delete</a>
                        </div>
                    </td>   
                     <!-- Edit Modal -->
                     <!-- <div style="opacity: 1;" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [style.display]="showModalEdit ? 'block' : 'none'">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title text-danger" id="exampleModalLabel">{{ heading }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click) = "close()"></button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="updateform" #updateForm="ngForm" (ngSubmit)="updateValues(updateForm.value)">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input formControlName="name" [(ngModel)]="heading" type="text" ngModel name="name" required class="form-control mt-1" placeholder="Enter Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input formControlName="name" [(ngModel)]="heading" type="text" ngModel name="name" required class="form-control mt-1" placeholder="Enter Name">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="dob">Dob</label>
                                        <input formControlName="dob" [(ngModel)]="dob" type="date" ngModel name="dob" class="form-control mt-1" placeholder="Enter Dob">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="contact_number">Contact Number</label>
                                        <input formControlName="contact_number" [(ngModel)]="contact_no" type="text" ngModel name="contact_number" class="form-control mt-1" placeholder="Enter Number">
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="name">Gender</label>
                                        <select formControlName="gender" ngModel [(ngModel)]="gender" name="gender" class="form-control">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="address">Address</label>
                                        <textarea formControlName="address" ngModel name="address" [(ngModel)]="address" class="form-control" cols="30" rows="5"></textarea>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="class">Class</label>
                                        <select formControlName="class" [(ngModel)]="class" ngModel name="class" class="form-control">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="courses">Courses</label>
                                        <select formControlName="course_id" ngModel [(ngModel)]="course" name="class" class="form-control mt-2">
                                            <option *ngFor="let course of courses">{{ course.course_name }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group mt-2">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </form>    
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-warning" (click) = "close()">Close</button>
                            </div>
                        </div>
                        </div>
                    </div> -->
                    <!-- View Modal -->
                    <div style="opacity: 1;" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [style.display]="showModal ? 'block' : 'none'">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title text-danger" id="exampleModalLabel">{{ heading }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click) = "hide()"></button>
                            </div>
                            <div class="modal-body">
                                <span>Name - {{ heading }}</span><br>
                                <span>Dob - {{ dob }}</span><br>
                                <span>Contact Number - {{ contact_no }}</span><br>
                                <span>Gender - {{ gender }}</span><br>
                                <span>Address - {{ address }}</span><br>
                                <span>Class - {{ class }}</span><br>
                                <span>Course - {{ course }}</span>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-warning" (click) = "hide()">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>